body{
    margin:0;
}
.el-button--info,
.el-button--success {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 165, 122);
    border-color: rgb(29, 165, 122);
}
    .el-button--info:focus, .el-button--info:hover,
    .el-button--success:focus, .el-button--success:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(44 198 149);
        border-color: rgb(29, 165, 122);
    }
    
    .el-button--info.is-plain,
    .el-button--success.is-plain {
        color: rgb(29, 165, 122);
        background: #f0f9eb;
        border-color: #c2e7b0;
    }

        .el-button--info.is-plain:focus, .el-button--info.is-plain:hover,
        .el-button--success.is-plain:focus, .el-button--success.is-plain:hover {
            color: rgb(29, 165, 122);
            background: #cee7c1;
            border-color: #c2e7b0;
        }
.el-radio__input.is-checked .el-radio__inner {
    border-color: rgb(29, 165, 122);
    background: rgb(29, 165, 122);
}
.el-radio__input.is-checked + .el-radio__label {
    color: rgb(29, 165, 122);
}
.el-button--text, .el-dialog__title:focus, .el-dialog__title:hover {
    color: #1da57a;
}

.el-loading-spinner .el-loading-text {
    color: rgb(29, 165, 122);
}
.el-loading-spinner i {
    color: rgb(29, 165, 122);
}
.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #1da57a;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #1da57a;
    border-color: #1da57a;
}

.el-table td, .el-table th {
    padding: 5px 0 !important;
}